<div class="navbar">
  <div class="title_container">
    <a class="button" routerLink="/">
      <h1>Sleeper PCs</h1>
    </a>
  </div>
  <ul class="sections">
    <li class="section">
      <a class="button" routerLink = "/compras">Compras</a>
    </li>
    <li class="section">
      <a class="button" routerLink="/productos">Productos</a>
    </li>
    <li class="section">
      <a class="button" routerLink="/usuarios">Gestion de Usuarios</a>
    </li> 
    
    
  </ul>
</div>
<router-outlet></router-outlet>